/* cv css */

body {
    color: #424242;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
a {
    color: #1E9FCC;
    text-decoration: underline;
}



header {
    background: #1E9FCC;
    color: #fff;
    height: 250px;
    position: fixed;
    width: 100%;
    z-index: 5;
    transition: height 500ms;
}
header .avatar {
    display: inline-block;
    line-height: 250px;
    vertical-align: top;
}
header .avatar img {
    border-radius: 100%;
    display: inline-block;
    height: 196px;
    width: 196px;
    transition: height 500ms, width 500ms;
}
header .header-info {
    display: inline-block;
    padding: 50px 0 0 24px;
}
header .name,
header .jobtitle,
header .qualification,
header .qualificationalinstitution {
    display: block;
}
header .name {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
} 
header .jobtitle {
    font-size: 26px;
    font-weight: 200;
    line-height: 30px;
    padding-bottom: 26px;
}
header .qualification,
header .qualificationalinstitution {
    color: #AFD3DF;
    font-size: 18px;
}
header .header-logo {
    margin-top: 30px;
}
/* Shrinking should only happen on desktops */
@media(min-width: 768px) {
    .shrink {
        height: 90px;
    }
    .shrink .avatar {
        line-height: 90px;
    }
    .shrink  .avatar img {
        height: 64px;
        width: 64px;
    }
    .shrink .header-info {
        padding: 20px 0 0 20px;
    }
    .shrink  .name {
        font-size: 22px;
    } 
    .shrink  .jobtitle {
        font-size: 18px;
        line-height: 20px;
    }
    .shrink  .qualification,
    .shrink  .qualificationalinstitution {
        display: none;
    }
    .shrink .header-logo {
        margin-top: 25px;
    }
    .shrink-cv {
        padding-top: 140px;
    }
}


.cv {
    font-size: 18px;
    font-weight: 300;
    padding-top: 250px;
}

h3 {
    border-bottom: 2px solid #aaa;
    font-size: 28px;
    font-weight: 200;
    padding: 15px 0 10px 0;
}
h3 i.fa {
    color: #777;
    font-size: 24px;
    padding-right: 5px;
}
.cv p {
    border-bottom: 1px solid #ddd;
    padding: 0 0 10px 0;
}
.cv p span {
    display: inline-block;
    vertical-align: top;
    width: 69%;
}
.cv p span.label {
    width: auto;
}
.cv p .key {
    font-weight: 400;
    width: 30%;
}

.circle {
}
.circle span {
    background: #1E9FCC;
    border-radius: 100%;
    color: #fff;
    display: table-cell;
    height: 130px;
    text-align: center;
    vertical-align: middle;
    width: 130px;
}
.project {
    margin-top: 30px;
    background: transparent url(/images/cv/line.png) repeat-y 79px 50px;
    padding-bottom: 50px;
}
.project ~ .project {
    margin-top: 0;
    
}

@media(max-width: 768px) {
    header {
        height: auto;
        position: relative;
    }
    header .avatar {
        display: block;
        text-align: center;
    }
    header .header-info {
        display: block;
        padding: 0 0 0 0;
        text-align: center;
    }
    header .name {
        font-family: 'Roboto Slab', serif;
        font-size: 28px;
    } 
    header .jobtitle {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 22px;
    }
    header .header-logo {
        margin-top: 50px;
        padding-bottom: 30px;
        text-align: center;
    }
    .cv {
        padding-top: 0;
    }
    

    .circle {
    }
    .circle span {
        border-radius: 4px;
        display: block;
        height: auto;
        margin: 0 0 15px 0;
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }
    .project {
        margin-top: 30px;
        background: none;
        padding-bottom: 50px;
    }
    .project ~ .project {
        margin-top: 0;
        
    }
}
